
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; 
}



* {
  box-sizing: border-box;
}

.btn-primary{
 @apply text-ag px-[30px] py-[8px] rounded-3xl bg-sari font-bold cursor-pointer  hover:bg-ag transition-all hover:text-boz
}

.shadow_class:hover{
  box-shadow: -10px -3px 13px -2px rgba(18,183,214,0.75);
  -webkit-box-shadow: -10px -3px 13px -2px rgba(18,183,214,0.75);
  -moz-box-shadow: -10px -3px 13px -2px rgba(18,183,214,0.75);

}



.mistyrose {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-image: linear-gradient(
      216deg,
      #D9E5D6 0%,
      #495F6E 25%,
      #495F6E 25%,
      #29353D  38%,
      #29353D 38%,
      #29353D 75%,
      #29353D 75%,
      #E3B23C 100%
    ),
    linear-gradient(
      44deg,
      rgba(128, 128, 128, 0.05) 0%,
      rgba(128, 128, 128, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 57%,
      rgba(25, 25, 25, 0.05) 57%,
      rgba(25, 25, 25, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 100%
    ),
    linear-gradient(
      241deg,
      rgba(55, 55, 55, 0.05) 0%,
      rgba(55, 55, 55, 0.05) 14%,
      rgba(209, 209, 209, 0.05) 14%,
      rgba(209, 209, 209, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 100%
    ),
    linear-gradient(
      249deg,
      rgba(248, 248, 248, 0.05) 0%,
      rgba(248, 248, 248, 0.05) 32%,
      rgba(148, 148, 148, 0.05) 32%,
      rgba(148, 148, 148, 0.05) 35%,
      rgba(202, 202, 202, 0.05) 35%,
      rgba(202, 202, 202, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 100%
    ),
    linear-gradient(92deg, rgb(255, 228, 225), rgb(255, 228, 225));
  z-index: -6;
}

.shadow{
  box-shadow: -4px -5px 22px 8px rgba(227,178,60,0.44);
-webkit-box-shadow: -4px -5px 22px 8px rgba(227,178,60,0.44);
-moz-box-shadow: -4px -5px 22px 8px rgba(227,178,60,0.44);
}